body {
  background-image: url("./img/app_background.png");
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -350px;
  width: 700px;
  height: 500px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.MenuLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.MenuHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 24px;
}

.Letter {
  font-weight: bold;
  font-size: 80px;
}

.CorrectAnswer {
  color: #3EB37B;
  border: 1px solid #ccc;
}

.WrongAnswer {
  background-image: url(./img/x_icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ccc;
  color: #494949;
}

.Question {
  border: 1px solid black;
  font-size: 80px;
  font-weight: bold;
  min-width: 64px;
}

.Exercise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Option {
  border: 1px solid #ccc;
  cursor: pointer;
  min-width: 70px;
}

.List {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

.StatusBar {
  width: 40%;
  font-size: 24px;
}

.StatusBar .Row {
  display: flex;
  padding: 5px 0;
  color: white;
}

.StatusBar .Row  .Label{
  width: 100%;
  text-align: right;
  padding-right: 5px;
}

.StatusBar .Row  .Number{
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

.StatusBar .Correct {
  background-color: #3EB37B;
  border-radius: 5px 5px 0 0;
}

.StatusBar .Wrong {
  background-color: #E66D5C;
  border-radius: 0 0 5px 5px;
}


.Explanation {
  font-size: 36px;
}

.Message {
  font-size: 36px;
  color: dodgerblue;
}



.Button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  outline: 0;
  padding: 24px 36px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.Button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.Button[disabled=disabled], .Button:disabled {
  background-color: #646464;
  transform: none;
  cursor: default;
}

.PopUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.PopUpInner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}




