body {
  background-image: url("./img/app_background.png");
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -350px;
  width: 700px;
  height: 500px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.MenuLine {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Letter {
  font-weight: bold;
  font-size: 80px;
}

.CorrectAnswer {
  color: #3EB37B;
  border: 1px solid #ccc;
}

.WrongAnswer {
  background-image: url(./img/x_icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ccc;
  color: #494949;
}

.Question {
  border: 1px solid black;
  font-size: 80px;
  font-weight: bold;
  min-width: 64px;
}

.Exercise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Option {
  border: 1px solid #ccc;
  cursor: pointer;
  min-width: 70px;
}

.Button {
  font-size: 16px;
  padding: 15px 40px;
  margin: 10px;
}

.List {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

.StatusBar {
  width: 40%;
  font-size: 24px;
  padding-top: 25px;
}

.StatusBar .Row {
  display: flex;
  padding: 5px 0;
  color: white;
}

.StatusBar .Row  .Label{
  width: 100%;
  text-align: right;
  padding-right: 5px;
}

.StatusBar .Row  .Number{
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

.StatusBar .Correct {
  background-color: #3EB37B;
  border-radius: 5px 5px 0 0;
}

.StatusBar .Wrong {
  background-color: #E66D5C;
  border-radius: 0 0 5px 5px;
}


.Explanation {
  font-size: 36px;
}

.Message {
  font-size: 36px;
  color: dodgerblue;
}




